.pyr-page {
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.4s ease, color 0.4s ease;
  min-height: 0vh;
}

.pyr-faq {
  text-align: center;
  margin-bottom: 2.5rem; 
  font-size: 2.5rem;
  font-weight: 600;
  transition: color 0.3s;
}

.pyr-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1.3rem;
  border-radius: 14px;
  border: 1px solid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  cursor: default; 
  margin-bottom: 1.4rem; 
}

.pyr-icon {
  font-size: 2rem;
  font-weight: bold;
  flex-shrink: 0;
  margin-top: 0rem;
  transition: color 0.3s;
}

.pyr-pregunta {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.pyr-respuesta {
  margin: 0.5rem 0 0;
  font-size: 0.95rem;
  transition: color 0.3s;
}

body.light-mode .pyr-page {
  background-color: #ffffff; 
  color: #111827;
}

body.light-mode .pyr-faq {
  color: #111827; 
}

body.light-mode .pyr-item {
  background-color: #f9fafb; 
  border-color: #e5e7eb;     
  color: #111827;            
}

body.light-mode .pyr-icon {
  color: #4b5563;  
}

body.light-mode .pyr-pregunta,
body.light-mode .pyr-respuesta {
  color: #000000;   
}

body.dark-mode .pyr-page {
  background-color: #121212; 
  color: #f1f1f1;
}

body.dark-mode .pyr-faq {
  color: #ffffff; 
}

body.dark-mode .pyr-item {
  background-color: #2a2a2a; 
  border-color: #3a3a3a;     
  color: #f1f1f1;           
}

body.dark-mode .pyr-icon {
  color: #d1d5db; 
}

body.dark-mode .pyr-pregunta,
body.dark-mode .pyr-respuesta {
  color: #ffffff;   
}
