html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.footer {
  background-color: black; 
  color: white;
  padding: 0px 25px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 0;
  border-radius: 12px; 
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer nav {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 6px; 
  margin-top: 22px;
}


.smile-icon {
  margin-right: 5px; 
  color: white;
}

.quienes-link {
  color: white;
  font-size: 1.2rem;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px; 
  margin-top: 0px;
  width: 100%;
}

.social-icon {
  color: white;
  font-size: 1.5rem; 
}

.social-text {
  color: white;
  font-size: 1.2rem;
  margin-left: 8px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px; 
  width: 100%;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-icon {
  margin-right: 10px;
  color: white;
}

.contact-text {
  color: white;
  font-size: 1rem;
}

.footer-text {
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.app-download {
  text-align: center;
  margin-top: 4px;
}

.app-title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.app-store-icons {
  display: flex;
  justify-content: center;
  gap: 35px; 
}

.app-icon {
  display: inline-block;
}

.play-store-icon, .app-store-icon {
  width: 160px; 
  height: auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -14px; 
  width: 100%;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.contact-icon {
  margin-right: 10px;
  color: white;
}

.contact-text {
  color: white;
  font-size: 1rem;
}
